* text=auto

*.md            text diff=markdown
*.json          text linguist-language=JSON-with-comments
*.json5         text
*.yaml          text
*.yml           text

.editorconfig   text
.gitattributes  text export-ignore
.gitignore      text export-ignore

.vscode/*       text
